data/**
!data/
!data/**/
!data/**/*.csv
!data/**/*.php
!data/TOUGH DAYS_LOGO.png


# Ignore all files under any sql folder
**/sql/**

# Ignore page-update folder
page-update/

# Ignore ToGitIgnore folder
ToGitIgnore/